.add-patient-container{
    max-width: 1200px;
    margin: 20px auto;
   
}
.patient-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.add-patient-container h2{
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
.add-patient-container label{
    display:block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
.add-patient-container input[type="text"],
.add-patient-container input[type="date"],
.add-patient-container input[type="password"],
.add-patient-container input[type="file"],
.add-patient-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing:border-box;
}
.add-patient-container textarea {
     resize: vertical;
     min-height: 100px;
}
.add-patient-container button[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-patient-container button[type="submit"]:hover{
    background-color: #0056b3;
}
.search-section{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.search-section h2{
    color:#333;
    text-align: center;
}
.search-section input[type="text"]{
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.search-section button{
    padding: 10px;
    background-color: #28a745;
    color:white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-section button:hover {
    background-color: #218838;
}
/* media queries for responsive design*/
@media (max-width: 600px){
    .add-patient-container{
        padding: 15px;
    }
    .add-patient-container h2{
        font-size: 20px;
    }
    .search-section input[type="text"]{
        width:100%;
        margin-bottom: 10px;
    }
}
.patients-list-container {
    
    text-align: center;
    margin-top: 20px;
  }
  
  .patients-list-container table{
    width:100%;
    border-collapse: collapse;
}
.patients-list-container th, 
.patients-list-container td {
    padding: 12px;
    border: 1px solid #ddd;
}
.patients-list-container th{
    background-color: #f4f4f4;
}

.patients-list-container h2{
    text-align: center;
}
 