.admin-dashboard{
    text-align: center;
    padding: 50px;

}
.admin-dashboard h2{
    color: #4a90e2;
    margin-bottom: 20px;
}


.admin-dashboard ul{
    list-style-type: none;
    padding: 0;
}
.admin-dashboard li{
    margin: 10px 0;
}
.admin-dashboard a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.admin-dashboard a:hover{
    background-color: #357ab8;
}