.find-doctor-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.find-doctor-container h2{
    text-align: center;
    color: #333;
}


.find-doctor-container label {
    display: block;
    margin-bottom: 15px;
    color: #555;
    font-weight: bold;
}
.find-doctor-container input[type="text"] {
    width: 100%;
    padding:10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.find-doctor-container button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color:white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.find-doctor-container button:hover{
    background-color: #0056b3;
}
.find-doctor-container ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
.find-doctor-container li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.find-doctor-container li button{
    width: auto;
    padding: 5px 10px;
    background-color: #28a745;
    color:white
}
.find-doctor-container li button:hover{
    background-color: #218838;
}
.booking-form-container{
    position: fixed;
    
}